<div id="login">
  <form [formGroup]="form" (ngSubmit)="onLogin(form)">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput type="text" id="username" [formControl]="usernameVal" formControlName="username"
        placeholder="Username">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-error *ngIf="usernameVal.hasError('required')">
        Un username è <strong>obbligatorio</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Inserisci la password</mat-label>
      <input matInput id="password" [type]="hide ? 'password' : 'text'" [formControl]="passwordVal"
        formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordVal.hasError('required')">
        Una password è <strong>obbligatoria</strong>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="!form.valid" color="accent">Accedi</button>
  </form>

  <p>Non sei ancora registrato? <a [routerLink]="['/signup']">Clicca qui</a></p>


  <div id="postit">
    <mat-card>
      <mat-card-title>Credenziali predefinite</mat-card-title>
      <mat-card-subtitle>Username: admin</mat-card-subtitle>
      <mat-card-subtitle>Password: 111111</mat-card-subtitle>
    </mat-card>
  </div>
</div>
