.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 88vh;
}
form, p {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
  max-width:fit-content;
  padding: 10px;
  margin: 20px;
}

