.example-spacer {
  flex: 1 1 auto;
}

li {
  display:inline-block;
  padding-left: 20px;
  cursor: pointer;
}

ul {
  text-align: center;
}

.mat-app-background {
  background-color: rgb(82, 46, 146);

}
