<div id="header">
  <h1>Elenco clienti</h1>
  <!-- <button [routerLink]="['/clienti/crea']" color="accent" mat-flat-button><mat-icon>add</mat-icon> Crea cliente</button> -->
</div>

<div *ngIf="clienti;else caricamento">
  <table>
    <mat-table [dataSource]="clienti" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell matTooltip="Vai alle fatture del cliente" [matTooltipPosition]="'left'" *matCellDef="let cliente" [routerLink]="['/clienti', cliente.id]"> {{cliente.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ragioneSociale">
        <mat-header-cell *matHeaderCellDef> Ragione Sociale </mat-header-cell>
        <mat-cell matTooltip="Vai al cliente" [matTooltipPosition]="'left'" *matCellDef="let cliente" [routerLink]="['/clienti', cliente.id]"> {{cliente.ragioneSociale}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="partitaIva">
        <mat-header-cell *matHeaderCellDef> Partita Iva </mat-header-cell>
        <mat-cell *matCellDef="let cliente"> {{cliente.partitaIva}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="telefono">
        <mat-header-cell *matHeaderCellDef> telefono </mat-header-cell>
        <mat-cell matTooltip="Chiama" [matTooltipPosition]="'left'" (click)="chiama(cliente.telefono)" *matCellDef="let cliente"><mat-icon>phone</mat-icon>{{cliente.telefono}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell matTooltip="Invia email" [matTooltipPosition]="'right'" (click)="mandaMail(cliente.email)" *matCellDef="let cliente"><mat-icon>mail</mat-icon>{{cliente.email}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </table>

  <div id="navigation">
    <!-- sistemare prima e ultima pagina -->
    <!-- <button mat-raised-button color="accent" (click)="indietroPagina()">Prima pagina</button> -->
    <button mat-raised-button color="accent" (click)="indietroPagina()" *ngIf="currentIndex" >Pagina precedente</button>
    <button mat-raised-button color="accent" (click)="avanzaPagina()">Pagina successiva</button>
    <!-- <button mat-raised-button color="accent" (click)="avanzaPagina()">Ultima pagina</button> -->
  </div>

  <section><em>Aggiornato alle {{ora}} del {{giorno}}</em></section>

</div>


<ng-template #caricamento>
  <div id="caricamento"><mat-spinner color="accent"></mat-spinner></div>
</ng-template>
