main {
  display: flex;
  max-width: 90%;
  height: 82vh;
  margin: 30px auto;
}
main > #cliente,
main > div {
  flex-basis: 33%;
}

table,
#navigation {
  width: 80%;
  margin: 20px auto 20px auto;
  text-align: center;
}

section {
  text-align: end;
  width: 90%;
}

button {
  margin: 10px;
}

.mat-column-id,
.mat-column-cliente-ragioneSociale,
.mat-column-importo {
  width: 32px;
  border-right: 1px solid currentColor;
  margin-right: 24px;
  text-align: center;
}

mat-cell {
  cursor: pointer;
}
