<div id="body">
  <h1>Anagrafica</h1>

  <section>
    <!-- <div> -->
    <form>
      <h2>Dettagli cliente</h2>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Ragione Sociale</mat-label>
          <input matInput placeholder="" type="text" [(ngModel)]="newCliente.ragioneSociale" name="ragioneSociale" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Partita IVA</mat-label>
          <input matInput placeholder="" type="number" [(ngModel)]="newCliente.partitaIva" name="partitaIva" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="" type="email" [(ngModel)]="newCliente.email" name="email" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>PEC</mat-label>
          <input matInput placeholder="" type="email" [(ngModel)]="newCliente.pec" name="pec" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Telefono</mat-label>
          <input matInput placeholder="" type="phone" [(ngModel)]="newCliente.telefono" name="telefono" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Tipo cliente: {{newCliente.tipoCliente}}</mat-label>
          <mat-select [(ngModel)]="newCliente.tipoCliente" name="ragioneSociale">
            <mat-option selected>...</mat-option>
            <mat-option>SRL</mat-option>
            <mat-option>SPA</mat-option>
            <mat-option>SAS</mat-option>
            <mat-option>PA</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>

    <form>
      <h2>Dettagli personali</h2>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="" type="text" [(ngModel)]="newCliente.nomeContatto" name="nomeContatto" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cognome</mat-label>
          <input matInput placeholder="" type="text" [(ngModel)]="newCliente.cognomeContatto" name="cognomeContatto" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Telefono Contatto</mat-label>
          <input matInput placeholder="" type="text" [(ngModel)]="newCliente.telefonoContatto" name="telefonoContatto"
            id="telefonoContattoInput" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email Contatto</mat-label>
          <input matInput placeholder="" type="email" [(ngModel)]="newCliente.emailContatto" name="emailContatto"
            id="emailContattoInput" />
        </mat-form-field>
      </div>
    </form>
    <!-- </div> -->

    <form>
      <h2>Sede operativa</h2>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Indirizzo</mat-label>
          <input matInput placeholder="" type="text" [(ngModel)]="newCliente.indirizzoSedeOperativa.via" name="via" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Civico</mat-label>
          <input matInput placeholder="" type="text" [(ngModel)]="newCliente.indirizzoSedeOperativa.civico"
            name="civico" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cap</mat-label>
          <input matInput placeholder="" type="number" [(ngModel)]="newCliente.indirizzoSedeOperativa.cap" name="cap" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Località</mat-label>
          <input matInput placeholder="" type="text" [(ngModel)]="newCliente.indirizzoSedeOperativa.localita"
            name="localita" />
        </mat-form-field>
        <!-- <div >
              <div >
                <mat-label>Provincia</mat-label>
                <select class="form-select" [(ngModel)]="
                    newCliente.indirizzoSedeOperativa.comune.provincia
                  " name="nome" >
                  <option selected>Seleziona Provincia</option>
                  <option *ngFor="let item of province" [ngValue]="item">
                    {{ item.nome }}
                  </option>
                </select>
              </div>
            </div> -->
      </div>
      <!-- <div >
            <div >
              <mat-label>Comune</mat-label>
              <select class="form-select" [(ngModel)]="newCliente.indirizzoSedeOperativa.comune" name="nome"
                >
                <option selected>Seleziona Comune</option>
                <option *ngFor="let item of comuni" [ngValue]="item">
                  {{ item.nome }}
                </option>
              </select>
            </div>
          </div> -->
    </form>

    <form>
      <h2>Sede legale</h2>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Indirizzo</mat-label>
          <input matInput placeholder="" type="text" [(ngModel)]="newCliente.indirizzoSedeLegale.via" name="via" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Civico</mat-label>
          <input matInput placeholder="" type="text" [(ngModel)]="newCliente.indirizzoSedeLegale.civico"
            name="civico" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cap</mat-label>
          <input matInput placeholder="" type="number" [(ngModel)]="newCliente.indirizzoSedeLegale.cap" name="cap" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Località</mat-label>
          <input matInput placeholder="" type="text" [(ngModel)]="newCliente.indirizzoSedeLegale.localita"
            name="localita" />
        </mat-form-field>
      </div>
      <!-- <div >
            <div >
              <mat-mat-label>Provincia</mat-mat-label>
              <select class="form-select" [(ngModel)]="newCliente.indirizzoSedeLegale.comune.provincia" name="nome"
                >
                <option selected>Seleziona Provincia</option>
                <option *ngFor="let item of province" [ngValue]="item">
                  {{ item.nome }}
                </option>
              </select>
            </div>
          </div> -->
      <!-- <div >
            <div >
              <mat-mat-label>Comune</mat-mat-label>
              <select class="form-select" [(ngModel)]="newCliente.indirizzoSedeLegale.comune" name="nome"
                >
                <option selected>Seleziona Comune</option>
                <option *ngFor="let item of comuni" [ngValue]="item">
                  {{ item.nome }}
                </option>
              </select>
            </div>
          </div> -->
    </form>
  </section>

  <div id="buttons">
    <button mat-flat-button color="accent" type="submit" (click)="onModificaCliente(newCliente)">
      Modifica
    </button>
    <!-- <button mat-flat-button color="accent" type="button"
      (click)="ripristinaForm()">
      Ripristina campi
    </button>
    <button mat-flat-button color="accent" type="reset">
      Svuota campi
    </button> -->
  </div>
</div>
