section {
  display: flex;
  justify-content: space-evenly;
  height: 88vh;
  flex-wrap: wrap;
  align-content: space-around;
}

#clienti {
  display: flex;
  flex-direction: row-reverse;
  text-align: end;
}

img {
  cursor: pointer;
  ;
}

